# Set-Up

In [6]:
import sqlite3
import pandas as pd

In [12]:
conn = sqlite3.connect('../data/data.db')
c = conn.cursor()

def execute_statement(statement):
    c.execute(statement)
    res = c.fetchall()
    column_names = [description[0] for description in c.description]
    return pd.DataFrame(res, columns=column_names)

# LIMIT

In [13]:
execute_statement('SELECT * FROM cites LIMIT 5')

,Id,Year,Appendix,Taxon,Class,Order,Family,Genus,Term,Quantity,Unit,Importer,Exporter,Origin,Purpose,Source,Reporter.type,Import.permit.RandomID,Export.permit.RandomID,Origin.permit.RandomID
0,898586291,2001,II,Nandayus nenday,Aves,Psittaciformes,Psittacidae,Nandayus,live,1.0,None,ZA,CI,XX,P,W,I,b459656686,1f7d1fe027,None
1,551195871,2001,II,Nandayus nenday,Aves,Psittaciformes,Psittacidae,Nandayus,live,1.0,None,ZA,CI,XX,P,W,E,None,c2061517c7,None
2,597857621,2000,II,Psittacus erithacus timneh,Aves,Psittaciformes,Psittacidae,Psittacus,live,40.0,None,ES,CI,None,T,W,I,None,9b0e308107,None
3,367154901,2001,II,Psittacus erithacus timneh,Aves,Psittaciformes,Psittacidae,Psittacus,live,100.0,None,ZA,CI,None,T,W,E,None,4b5c826fe9,None
4,286394641,2001,II,Psittacus erithacus timneh,Aves,Psittaciformes,Psittacidae,Psittacus,live,100.0,None,ZA,CI,None,T,W,I,a490668140,7d3ba372ba,None